.vscode
node_modules/
php/config.php

### properties ###
justAuth/src/main/resources/application.properties
justAuth/target/

android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/release/
android/app/debug/
android/app/release/app-release.apk