.vscode
.user.ini
node_modules/
php/config.php

### justAuth ###
justAuth/src/main/resources/application.properties
justAuth/target/

### android ###
android/.gradle/
android/.idea/
android/build/
android/app/build/
android/app/release/
android/app/debug/
android/app/release/app-release.apk

static/download/

*config.php*