body {
    overflow-y: scroll;
    background-color: #f4f4f4;
}

.form-control:focus {
    box-shadow: none;
}

#footer {
    height: 32px;
    margin-top: -3px;
    padding: 0
}

#more_content {
    display: none;
}

#beian {
    font-size: 1rem;
}

#navbar {
    padding: 0.1rem 1rem 0.1rem 0rem;
}

#buttons {
    margin-right: -15px;
}

#buttons span {
    margin: 5px;
}

#footer_right {
    display: inline-block;
}

#uuu img {
    margin-top: 6px;
    margin-left: 6px;
}

/* #uuu div div {
    height: 122px;
    
} */

#uuu div div div {
    overflow-y: hidden
}

#uuu h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#wscontent {
    height: calc(80vh)
}

#content {
    margin: 51px 0 0 0;
    padding: 0;
}

#collapse input {
    margin-top: 10px;
}

#collapse button {
    margin: 10px 0 10px 5px;
}

#collapse textarea {
    margin-top: 10px;
}

#sss {
    background-color: bisque;
    padding: 0;
}

#uuu {
    padding: 0;
}