body {
    margin: 0 auto;
}

#content {
    float: left;
    width: 70%;
}

#websocket_div {
    position: fixed;
    overflow: auto;
    right: 0;
    width: 30%;
    height: 90%;
    margin-top: 10px;
}

#websocket_div::-webkit-scrollbar {
    border-width: 1px;
}

#websocket_local {
    position: fixed;
    bottom: 0;
}

#websocket_header {
    position: fixed;
    top: 0px;
}

a{
    display: block;
}