body {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  margin: 0 auto;
}

header {
  background: rgb(255, 245, 245);
}

main {
  background: rgb(253, 243, 240);
}

footer {
  background: rgb(255, 248, 236);
  text-align: center;
}